<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='interfase.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="butoes">
        </div>
    </nav>
    <nav class ="menu-center">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Service</a>
        <a href="#">Contact</a>

        <div class ="menu-line">
            <span class ="menu-light"></span>
        </div>
    </nav>

    <main class="container">

        <section class="welcome">
            <h1>Bem-vindo ao Reino das Histórias</h1>

            <p>
               Você está preparado para descobrir histórias que atravessam o tempo?
            </p>
        </section>

        <section class="perfil-section">

            <div class="cartao-perfil">

                <i class='bx bx-user'></i>

                <h2>Entrar</h2>

                <p>
                    Entre no site para acessar todos os recursos disponíveis.
                </p>

                <a href="{{ url_for('login') }}" class="button">
                    Acessar
                </a>

            </div>

        </section>

    </main>

    <script src="{{ url_for('static', filename='interfase.js') }}"></script>

</body>
</html>